{% import "macro_templates/C/decl/modifier.j2" as Modifier %}

{%- macro field_decl(info) -%}
{{- Modifier.modifier_decl(info.modifier, info.name) -}}
{%- if info.bitfield_width -%} : {{- info.bitfield_width -}}{%- endif -%};
{%- endmacro -%}