{%- macro function_decl(info) -%}
{#- C函数声明宏，info为函数字典 -#}
{%- if info.storage %}{{ info.storage }} {% endif -%}
{%- if info.qualifiers %}{{ info.qualifiers }} {% endif -%}
{{ info.return_type }}{%- if info.is_pointer %}*{% endif -%} {{ info.name }}(
    {%- for param in info.params -%}
        {%- if param.storage %}{{ param.storage }} {% endif -%}
        {%- if param.qualifiers %}{{ param.qualifiers }} {% endif -%}
        {{ param.type }}{%- if param.is_pointer %}*{% endif -%} {{ param.name }}{%- if not loop.last -%}, {% endif -%}
    {%- endfor -%}
){% if info.body %}
{
{{ info.body | indent(4) }}
}
{%- else -%};
{%- endif -%}
{%- endmacro -%}
