{%- extends "base.j2" -%}
{%- block content -%}
#ifdef __cplusplus
extern "C"{
#endif

{{ Autosar.copyright(copyright_info) }}

/*==============================================================================
*                                INCLUDE FILES
==============================================================================*/
{{ CHILDREN_CONTEXT[0] }}

/*==============================================================================
*                        SOURCE FILE VERSION INFORMATION
==============================================================================*/
{{ Autosar.version_info(version_info) }}

/*==============================================================================
*                              FILE VERSION CHECKS
==============================================================================*/
{{ Autosar.version_check(version_check_info) }}

/*==============================================================================
*                              LOCAL TYPEDEFS
==============================================================================*/



/*==============================================================================
*                               LOCAL MACROS
==============================================================================*/



/*==============================================================================
*                              LOCAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              LOCAL VARIABLES
==============================================================================*/



/*==============================================================================
*                              GLOBAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              GLOBAL VARIABLES
==============================================================================*/



/*==============================================================================
*                          LOCAL FUNCTION PROTOTYPES
==============================================================================*/



/*==============================================================================
*                               LOCAL FUNCTION
==============================================================================*/



/*==============================================================================
*                               GLOBAL FUNCTION
==============================================================================*/


#ifdef __cplusplus
}
#endif

/* -------------------------------  EOF  ------------------------------------ */
{%- endblock -%}
