{% import "macro_templates/DOXYGEN/header.j2" as FileHeader %}
{%- macro header_start(file_info) -%}
{{- FileHeader.header_start(file_info) -}}
{%- endmacro -%}

{%- macro header_end(file_info) -%}
{{- FileHeader.header_end(file_info) -}}
{%- endmacro -%}