{% import "macro_templates/AUTOSAR/version/copyright.j2" as CopyRight %}
{%- macro copyright(info) -%}
{{- CopyRight.copyright(info) -}}
{%- endmacro -%}

{% import "macro_templates/AUTOSAR/version/version_check.j2" as VersionCheck %}
{%- macro version_check(info) -%}
{{ VersionCheck.version_check(info) }}
{%- endmacro -%}

{% import "macro_templates/AUTOSAR/version/version_info.j2" as VersionInfo %}
{%- macro version_info(version_info) -%}
{{- VersionInfo.version_info(version_info) -}}
{%- endmacro -%}
