{% import "macro/xml.j2" as Xml %}
<v:var name="{{ meta.name }}" type="{{meta.type}}{{ "_LABEL" if meta.is_label else ""}}">
  {{ Xml.xml_node(meta.desc_attr_xml, indent=0) }}
  {{ Xml.xml_node(meta.label_attr_xml, indent=0) }}
  {{ Xml.xml_node(meta.uuid_attr_xml, indent=0) }}
  {{ Xml.xml_node(meta.range_attr_xml, indent=0) }}
  {{ Xml.xml_node(meta.default_attr_xml, indent=0) }}
  {% for attr in meta.additional_attributes %}
  {{ Xml.xml_node(attr, indent=0) }}
  {% enfor %}
</v:var>