{%- macro copyright(info) -%}
/*==============================================================================
*   Autosar Version      : {{ info.autosar_version}}
*   Autosar Revision     : {{ info.autosar_revision}}
*   Autosar Conf.Variant :
*   SW Version           : {{ info.sw_version}}

*   Copyright (C) 2022 Byd
*   All Rights Reserved.
 =============================================================================*/
{%- endmacro -%}