{%- macro source_file_copyright(__context__, autosar_version, autosar_revision, sw_version) -%}
/*==============================================================================
*   Autosar Version      : {{ autosar_version | expr_filter(__context__)}}
*   Autosar Revision     : {{ autosar_revision | expr_filter(__context__)}}
*   Autosar Conf.Variant :
*   SW Version           : {{ sw_version | expr_filter(__context__)}}

*   Copyright (C) 2022 Byd
*   All Rights Reserved.
 =============================================================================*/
{%- endmacro -%}