{%- macro version_check(cur, ref, cur_file, ref_file, cur_suffix, ref_suffix) -%}
/* Check vendor */
#if ({{ cur }}_VENDOR_ID{{ cur_suffix }} != {{ ref }}_VENDOR_ID{{ ref_suffix }})
#error "{{ cur_file }} and {{ ref_file }} have different vendor ids"
#endif
/* Check AUTOSAR version */
#if ( ({{ cur }}_AR_RELEASE_MAJOR_VERSION{{ cur_suffix }} != {{ ref }}_AR_RELEASE_MAJOR_VERSION{{ ref_suffix }}) || \
      ({{ cur }}_AR_RELEASE_MINOR_VERSION{{ cur_suffix }} != {{ ref }}_AR_RELEASE_MINOR_VERSION{{ ref_suffix }}) || \
      ({{ cur }}_AR_RELEASE_REVISION_VERSION{{ cur_suffix }} != {{ ref }}_AR_RELEASE_REVISION_VERSION{{ ref_suffix }}) )
#error "AutoSar Version Numbers of {{ cur_file }} and {{ ref_file }} are different"
#endif
/* Check software version */
#if ( ({{ cur }}_SW_MAJOR_VERSION{{ cur_suffix }} != {{ ref }}_SW_MAJOR_VERSION{{ ref_suffix }}) || \
      ({{ cur }}_SW_MINOR_VERSION{{ cur_suffix }} != {{ ref }}_SW_MINOR_VERSION{{ ref_suffix }}) || \
      ({{ cur }}_SW_PATCH_VERSION{{ cur_suffix }} != {{ ref }}_SW_PATCH_VERSION{{ ref_suffix }}) )
#error "Software Version Numbers of {{ cur_file }} and {{ ref_file }} are different"
#endif
{%- endmacro -%}
