{%- macro macro_if(info) -%}
{%- if info.conditions == none or info.conditions|length == 0 -%}
{#- 输出空 -#}
{%- else -%}
#if {{ info.conditions[0] | indent(4)}}
    {{ info.contents[0] | indent(4) | trim }}
{% for i in range(1, info.conditions | length) %}
#elif {{ info.conditions[i] | indent(4)}}
    {{ info.contents[i] | indent(4) | trim }}
{% endfor %}
{% if info.else_content and info.else_content != "" and info.else_content != "None" %}
#else
    {{ info.else_content | indent(4) | trim }}
{% endif %}
#endif
{%- endif -%}
{%- endmacro -%}
