{%- macro macro_if(info) -%}
#if {{ info.conditions[0] }}
    {{ info.contents[0] }}
{%- for i in range(1, info.conditions | length) %}
#elif {{ info.conditions[i] }}
    {{ info.contents[i] }}
{%- endfor %}
{%- if info.else_content %}
#else
    {{ info.else_content }}
{%- endif %}

#endif
{%- endmacro -%}
