{# All jinja template should extend this #}
{% import "macro_templates/AUTOSAR/AUTOSAR_COMMON_DEFINES.j2" as Autosar %}
{% import "macro_templates/DOXYGEN/DOXYGEN_COMMON_DEFINES.j2" as Doxygen %}
{% import "macro_templates/C/C_COMMON_DEFINES.j2" as C %}
{% block content %}
{% endblock %}