{%- macro xml_node(me, indent=0) -%}
{%- set ns_prefix = me.namespace ~ ':' if me.namespace else '' -%}
{%- set has_content = me.text or me.tail or (me.children and me.children|length > 0) -%}
{%- if not has_content -%}
<{{ ns_prefix }}{{ me.tag }}{% for k, v in me.attributes.items() %} {{ k }}="{{ v }}"{% endfor %} />
{%- else -%}
<{{ ns_prefix }}{{ me.tag }}{% for k, v in me.attributes.items() %} {{ k }}="{{ v }}"{% endfor %}>
{%- if me.text %}{{ me.text }}{% endif %}
{%- for child in me.children %}{{ xml_node(child, 0) }}{% endfor %}
{%- if me.tail %}{{ me.tail }}{% endif %}
</{{ ns_prefix }}{{ me.tag }}>
{%- endif -%}
{%- endmacro -%}