<web-service>
    <info>
        <name>{{ name }}</name>
        <type>{{ type }}</type>
        <port>{{ port }}</port>
        <enabled>{{ enabled }}</enabled>
    </info>
    <endpoints>
        {{ CHILDREN_CONTEXT[0] | indent(8) }}
    </endpoints>
    <children1>
        {{ CHILDREN_CONTEXT[1] | indent(8) }}
    </children1>
</web-service>