{% import "macro_templates/DOXYGEN/group/header.j2" as FileHeader %}
{%- macro header_start(context, file_info) -%}
{{- FileHeader.header_start(context, file_info) -}}
{%- endmacro -%}

{%- macro header_end(context, file_info) -%}
{{- FileHeader.header_end(context, file_info) -}}
{%- endmacro -%}