{%- extends "base.j2" -%}
{%- block content -%}
{% set _sw_version=x + "." + y + "." + z %}
{% set _autosar_version=AR_RELEASE_MAJOR_VERSION_C+"."+AR_RELEASE_MINOR_VERSION_C+"."+AR_RELEASE_REVISION_VERSION_C %}

{{ Doxygen.header_start({"file": Imp, "brief": file_brief, "version": _sw_version, "group_name": group_name}) }}
{{ Autosar.copyright({
    "autosar_version": _autosar_version,
    "autosar_revision": "",
    "sw_version": _sw_version 
    })
}}

#ifdef __cplusplus
extern "C"{
#endif

/*==============================================================================
*                                INCLUDE FILES
==============================================================================*/
{{ C.macro_conditional_include(conditional_include_info) }}
/*==============================================================================
*                        SOURCE FILE VERSION INFORMATION
==============================================================================*/
{{ Autosar.version_info(
    Imp | upper, 
    {
        "vender_id":vi,
        "ar_release_major_version": AR_RELEASE_MAJOR_VERSION_C,
        "ar_release_minor_version": AR_RELEASE_MINOR_VERSION_C,
        "ar_release_revision_version": AR_RELEASE_REVISION_VERSION_C,
        "sw_major_version": x,
        "sw_minor_version": y,
        "sw_revision_version": z,
    }, 
    suffix="_C") 
}}

/*==============================================================================
*                              FILE VERSION CHECKS
==============================================================================*/
/* Check if current file and {{ Imp | expr_filter(__context__) }}_Ip.h are of the same vendor */
#if ({{ Imp | expr_filter(__context__) | upper }}_IP_VENDOR_ID_C != {{ Imp | expr_filter(__context__) | upper }}_IP_VENDOR_ID)
    #error "{{ Imp | expr_filter(__context__) }}_Ip.c and {{ Imp | expr_filter(__context__) }}_Ip.h have different vendor ids"
#endif
/* Check if current file and {{ Imp | expr_filter(__context__) }}_Ip.h are of the same Autosar version */
#if (({{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_MAJOR_VERSION_C    != {{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_MAJOR_VERSION) || \
     ({{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_MINOR_VERSION_C    != {{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_MINOR_VERSION) || \
     ({{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_REVISION_VERSION_C != {{ Imp | expr_filter(__context__) | upper }}_IP_AR_RELEASE_REVISION_VERSION))
    #error "AutoSar version of {{ Imp | expr_filter(__context__) }}_Ip.c and {{ Imp | expr_filter(__context__) }}_Ip.h are different"
#endif
/* Check if current file and {{ Imp | expr_filter(__context__) }}_Ip.h are of the same software version */
#if (({{ Imp | expr_filter(__context__) | upper }}_IP_SW_MAJOR_VERSION_C    != {{ Imp | expr_filter(__context__) | upper }}_IP_SW_MAJOR_VERSION) || \
     ({{ Imp | expr_filter(__context__) | upper }}_IP_SW_MINOR_VERSION_C    != {{ Imp | expr_filter(__context__) | upper }}_IP_SW_MINOR_VERSION) || \
     ({{ Imp | expr_filter(__context__) | upper }}_IP_SW_REVISION_VERSION_C != {{ Imp | expr_filter(__context__) | upper }}_IP_SW_REVISION_VERSION))
    #error "Software version of {{ Imp | expr_filter(__context__) }}_Ip.c and {{ Imp | expr_filter(__context__) }}_Ip.h are different"
#endif

/*==============================================================================
*                              LOCAL TYPEDEFS
==============================================================================*/



/*==============================================================================
*                               LOCAL MACROS
==============================================================================*/



/*==============================================================================
*                              LOCAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              LOCAL VARIABLES
==============================================================================*/



/*==============================================================================
*                              GLOBAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              GLOBAL VARIABLES
==============================================================================*/



/*==============================================================================
*                          LOCAL FUNCTION PROTOTYPES
==============================================================================*/



/*==============================================================================
*                               LOCAL FUNCTION
==============================================================================*/



/*==============================================================================
*                               GLOBAL FUNCTION
==============================================================================*/


#ifdef __cplusplus
}
#endif

{{ Doxygen.header_end(file_info) }}

/* -------------------------------  EOF  ------------------------------------ */
{%- endblock -%}
