{%- extends "base.j2" -%}
{%- block content -%}

{#
{{ Doxygen.header_start({"file": Imp, "brief": file_brief, "version": _sw_version, "group_name": group_name}) }}
#}

{# {{ Autosar.copyright({
    "autosar_version": _autosar_version,
    "autosar_revision": "",
    "sw_version": _sw_version 
    })
}} #}

#ifdef __cplusplus
extern "C"{
#endif

/*==============================================================================
*                                INCLUDE FILES
==============================================================================*/
{{ C.macro_conditional_include(conditional_include_info) }}

/*==============================================================================
*                        SOURCE FILE VERSION INFORMATION
==============================================================================*/
{{ Autosar.version_info(version_info) }}

/*==============================================================================
*                              FILE VERSION CHECKS
==============================================================================*/
{{ Autosar.version_check(version_check_info) }}

/*==============================================================================
*                              LOCAL TYPEDEFS
==============================================================================*/



/*==============================================================================
*                               LOCAL MACROS
==============================================================================*/



/*==============================================================================
*                              LOCAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              LOCAL VARIABLES
==============================================================================*/



/*==============================================================================
*                              GLOBAL CONSTANTS
==============================================================================*/



/*==============================================================================
*                              GLOBAL VARIABLES
==============================================================================*/



/*==============================================================================
*                          LOCAL FUNCTION PROTOTYPES
==============================================================================*/



/*==============================================================================
*                               LOCAL FUNCTION
==============================================================================*/



/*==============================================================================
*                               GLOBAL FUNCTION
==============================================================================*/


#ifdef __cplusplus
}
#endif

{{ Doxygen.header_end(file_info) }}

/* -------------------------------  EOF  ------------------------------------ */
{%- endblock -%}
